---
- name: Deploy S3 Bucket via CloudFormation
  hosts: localhost
  connection: local
  gather_facts: false
  vars_files:
    - vaults/prod.yaml

  vars:
    stack_name: cloud-resume-s3-stack
    bucket_name: resume-fazabillah

  tasks:
    - name: Deploy CloudFormation stack
      amazon.aws.cloudformation:
        stack_name: "{{ stack_name }}"
        state: present
        region: "{{ aws_region }}"
        aws_access_key: "{{ aws_access_key_id }}"
        aws_secret_key: "{{ aws_secret_access_key }}"
        template: "../template.yaml"
        template_parameters:
          BucketName: "{{ bucket_name }}"
      register: cf_result

    - name: Display deployment result
      ansible.builtin.debug:
        msg:
          - "===== Deployment Complete ====="
          - "Stack Outputs: {{ cf_result.stack_outputs }}"
